<%- include('header.html', { title: title }); -%>

<body class="d-flex flex-row justify-content-center align-items-center" style="height: 100vh;">
    <form method="POST" action="/register" autocomplete="off">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">New Team</h1>
        </div>

        <div class="form-group row">
            <label for="username" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
                <input type="username" id="username" class="form-control" placeholder="Username" required autofocus>
            </div>
        </div>

        <div class="form-group row">
            <label for="team" class="col-sm-4 col-form-label">Team</label>
            <div class="col-sm-8">
                <select class="form-control" id="team">
                    <option value="MSK">MSK</option>
                    <option value="NSK">NSK</option>
                    <option value="SPB">SPB</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" id="password" class="form-control" placeholder="Password" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="repeatPassword" class="col-sm-4 col-form-label">Repeat password</label>
            <div class="col-sm-8">
                <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat password" required>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Regiter</button>

        <div class="alert alert-light" role="alert">
            Are you have account? <a href="/login">Login</a>
        </div>
    </form>
</body>

<%- include('footer.html'); -%>